<div class="container" id="padded_container">
  <%= form_tag({controller: "messages", action: "create"}, method: :post) do %>
    <%= text_field_tag :subject %>
    <%= text_area_tag :body %>
    <%= hidden_field_tag :recipient_id%>
    <%= submit_tag 'Send message' %>
  <% end %>

</div>