<div class="container">
  <%= form_tag({controller: "messages", action: "create"}, method: :post) do %>
    <%= text_field_tag :subject %>
    <%= text_area_tag :body %>
    <% if  @user %>
      <%= hidden_field_tag :recipient_id, @user.id %>
    <% end %>
    <%= submit_tag 'Send message' %>
  <% end %>

</div>