<div class="container" id="padded_container">
  <div class="row">
      <div class="col-sm-10 account_heading"><h1>Hiya, <%= current_user.name %>!</h1></div>
  </div>
  <%= render 'side_navbar' %>
  <div class="col-sm-9">

<% @receipts.map do |receipt| %>
  Received: <%= display_date(receipt.message.created_at) %><br>
  Message: <%= receipt.message.body %>
<% end %>

<div class="container" id="padded_container">
  <%= form_tag({controller: "messages", action: "reply"}, method: :post) do %>
    <%= text_field_tag :subject, @conversation.subject %>
    <%= text_area_tag :body %>
    <%= hidden_field_tag :conversation, @conversation.id %>
    <%= submit_tag 'Send message' %>
  <% end %>
  <%= will_paginate @receipts %>
</div>
<%= button_to "Trash", trash_message_path(params[:format]), method: :post, class: "btn btn-theme pull-left" %>