<!-- RECEIVED MESSAGES -->

<table class="table">
  <tr>
    <th>Sender</th>
    <th>Subject</th>
    <th>Received</th>
    <th>Read?</th>
  </tr>
    <% @conversations.each do |message| %>
      <tr>
        <td><%= message.originator.name %></td>
        <td><%= message.subject %></td>
        <td><%= message.created_at %></td>
        <td><%= message.is_read?(current_user) %></td>
        <td><%= link_to "open", message_path(current_user, message) %></td>
      </tr>
    <% end %>
</table>