  <div class="container" id="padded_container">
    <div class="row">
        <div class="col-sm-10 account_heading"><h1>Hiya, <%= current_user.name %>!</h1></div>
    </div>
    <%= render 'users/side_navbar' %>


  <h2>NOTIFICATIONS</h2>

  <div class="col-sm-9">
    <table class="table">
      <tr>
        <th>Subject</th>
        <th>Received</th>
      </tr>

      <% @notices.map do |notice| %>
      <tr>
        <td><%= notice.notification.subject %></td>
        <td><%= display_date(notice.notification.created_at) %></td>
        <td><%= button_to "Open", show_notification_path(notice.notification), method: :get, class: "btn btn-theme pull-left"%></td>
      <% end %>
      <%= will_paginate @notices %>
      </tr>
    </table>
  </div>
</div>