<div class="container" id="padded_container">
    <div class="row">
        <div class="col-sm-10 account_heading"><h1>Hiya, <%= current_user.name %>!</h1></div>
    </div>

    <%= render 'users/side_navbar' %>

    <div class="col-sm-9">

    <h2>SENT</h2>

    <table class="table">
      <tr>
        <th>Sent To</th>
        <th>Subject</th>
        <th>Sent</th>
      </tr>
        <% @conversations.each do |message| %>
          <tr>
            <td><%= message.participants.last.name %></td>
            <td><%= message.subject %></td>
            <td><%= display_date(message.created_at) %></td>
          <tr>
        <% end %>
        <%= will_paginate @conversations %>
    </table>
  </div>
</div>
