<div class="container" id="padded_container">
  <div class="row">
      <div class="col-sm-10 account_heading"><h1>Hiya, <%= current_user.name %>!</h1></div>
  </div>
  <%= render 'side_navbar' %>
  <div class="col-sm-9">

<% @receipts.map do |receipt| %>
  Received: <%= display_date(receipt.message.created_at) %><br>
  Message: <%= receipt.message.body %>
<% end %>

<%= button_to "Reply", messages_reply_path(params[:format]), method: :get, class: "btn btn-theme pull-left" %>

<%= button_to "Trash", trash_message_path(params[:format]), method: :post, class: "btn btn-theme pull-left" %>
<%= will_paginate @receipts %>


