<h2>TRASHED MAIL</h2>

<table class="table">
  <tr>
    <th>Sender</th>
    <th>Subject</th>
    <th>Date</th>
  </tr>
    <% @conversations.map do |message| %>
      <tr>
        <td><%= message.originator.name %></td>
        <td><%= message.subject %></td>
        <td><%= message.created_at %></td>
        <td><%= button_to "Open", message_path(current_user, message), method: :get, class: "btn btn-theme pull-left"%></td>
        <td><%= button_to "Delete", delete_message_path(message), class: "btn btn-theme pull-left" %></td>
      </tr>
    <% end %>
</table>