<div class = "about">
<div class="container" id="padded_container">
  <div class="row">
      <div class="col-sm-10 account_heading"><h1>Hiya, <%= current_user.name %>!</h1></div>
  </div>

  <%= render 'side_navbar' %>

  <div class="col-sm-9">

    <h2>TRASH</h2>

    <table class="table">
      <tr>
        <th>Sender</th>
        <th>Subject</th>
        <th>Date</th>
      </tr>
        <% @conversations.map do |message| %>
          <tr>
            <td><%= message.originator.name %></td>
            <td><%= message.subject %></td>
            <td><%= display_date(message.created_at) %></td>
            <td><%= button_to "Open", message_path(current_user, message), method: :get, class: "btn btn-theme pull-left"%></td>
            <td><%= button_to "Delete", delete_message_path(message), class: "btn btn-theme pull-left" %></td>
          </tr>
        <% end %>
    </table>
  </div>
</div>
</div>