<div class = "about">
<div id="padded_container">
  <div class="container">
          <div class="row centered-form">
          <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
            <div class="panel panel-default">
              <div class="panel-heading">
                <div class="align-center">
                  <h1 class="panel-title">Manage Account</h1>
                </div>
              </div>
              <div class="panel-body">
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
              <%= devise_error_messages! %>
               <div class="row">
                 <div class="text_container">
                   <div class="form-group">
                    <%= f.label :email, class: "small" %>
                    <%= f.email_field :email, autofocus: true, class: "form-control input"  %>
                   </div>
                 </div>
               </div>

               <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                 <div class="row">
                   <div class="text_container">
                    Currently waiting confirmation for: <%= resource.unconfirmed_email %>
                   </div>
                 </div>
               <% end %>

               <div class="row">
                 <div class="text_container">
                   <div class="form-group">
                    <%= f.label :password, class: "small" %><i class="small muted">(leave blank if you don't want to change it)</i>
                    <%= f.password_field :password, autocomplete: "off", class: "form-control input"  %>
                   </div>
                 </div>
               </div>

               <div class="row">
                 <div class="text_container">
                   <div class="form-group">
                    <%= f.label :password_confirmation, class: "small" %>
                    <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control input"  %>
                   </div>
                 </div>
               </div>

               <div class="row">
                 <div class="text_container">
                   <div class="form-group">
                    <%= f.label :current_password, class: "small" %><i class="small muted">(we need your current password to confirm your changes)</i>
                    <%= f.password_field :current_password, autocomplete: "off", class: "form-control input"  %>
                   </div>
                 </div>
               </div>

              </div>
              <div class="text_container">
                  <%= f.submit "Update", class: "btn btn-info btn-theme btn-block"%>
              </div>
               <% end %>
              </div>
              <div class="align-center text_container">
              <h3>Cancel my account</h3>

               <%= button_to "Delete my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-info btn-theme btn-block" %>
            </div>

              <%= link_to "Back", :back %>
            </div>
          </div>
        </div>
      </div>
    </div>


