  <div class="row centered-form">
  <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="align-center">
          <h1 class="panel-title">Gig Details</h1>
        </div>
      </div>
      <div class="panel-body">
     <%= form_for @task, html: { multipart: true } do |f| %>
       <% if @task.errors.any? %>
         <div id="error_explanation">
           <h2><%= pluralize(@task.errors.count, "error") %> prohibited this band from being saved:</h2>

           <ul>
           <% @task.errors.full_messages.each do |msg| %>
             <li><%= msg %></li>
           <% end %>
           </ul>
         </div>
       <% end %>
       <div class="row">
         <div class="text_container">
           <div class="form-group">
            <%= f.label :name, "Title", class: "small" %>
            <%= f.text_field :name, autofocus: true, class: "form-control input"  %>
           </div>
         </div>
       </div>

       <div class="row">
         <div class="text_container">
           <div class="form-group">
            <%= f.label :category, class: "small" %>
              <div class="checkbox">
            <%= collection_check_boxes :task, :categories, Category.all, :id, :name, as: :check_boxes %>
            </div>
           </div>
         </div>
       </div>

        <div class="row">
          <div class="text_container">
            <div class="form-group">
             <%= f.label :summary, "Details", class: "small" %>
             <%= f.text_area :summary, autofocus: true, class: "form-control input"  %>
            </div>
          </div>
        </div>

     <div class="row">
       <div class="text_container">
         <div class="form-group">
         <%= f.label :due_date, "Due Date", class: "small" %>
         <%= f.text_field(:due_date, class: "form-control input js-datepicker span2") %>
         </div>
       </div>
     </div>

     <div class="row">
       <div class="text_container">
         <div class="form-group">
         <%= f.label :paid, "Paid?", class: "small" %>
         <%= f.check_box :paid, autofocus: true, class: "inline_label", id: "paid", onclick: "showHiddenDiv();"  %>
         </div>
       </div>
     </div>

     <div class="row" id="pay" style="display:none;">
       <div class="text_container">
         <p class="well tiny_font">At this time, GigBadger does not support payment processing within this site. We recommend using Square Cash as an option to send or receive payments. Square Cash is a free service and allows you to send or request cash using email and a debit card. If you have any questions or concerns, please read more about <a href="https://squareup.com/help/en-us/topic/139-square-cash" target="_blank">Square Cash</a>.  It is between the gig owner and badger to arrange payment terms.</p>
         <div class="form-group">
         <%= f.label :pay, "Price per gig(in $):" , class: "small" %>
         <%= f.number_field :pay, autofocus: true, class: "form-control input" %>
         </div>
       </div>
     </div>

    </div>
    <div class="field">
      <%= f.hidden_field :owner_id, value: current_user.id %>
    </div>
      <div class="text_container">
          <%= f.submit @task.new_record? ? "Preview Gig" : "Update Gig", class: "btn btn-info btn-theme btn-block"%>
      </div>
       <% end %>
      </div>
    </div>
  </div>

  <%= javascript_include_tag "datepicker" %>

