<div id="filterrific_results">
  <div class="container">
      <div class="col-md-12">
        <div class="row">
          <div class="portfolio-items isotopeWrapper clearfix" id="3">

          <% @tasks.each do |task| %>
          <% unless task.owner.nil? %>
            <article class="col-md-4 isotopeItem webdesign">
              <div class="portfolio-item pad-top30">
              <div class="align-center">
                <%= image_tag avatar(task.owner), class: "account_img img-circle" %>
                <p class="tiny_font muted"><em> by <%= task.owner.name %></em></p>
                <div id="size90"><p ><%= task.name %></p>
                  <p>
                  <% if task.paid? %>
                    <%= number_to_currency(task.pay) %>
                  <% else %>
                    Unpaid
                  <% end %>
                  </p>
                </div>
              </div>
                 <div class="portfolio-desc align-center">
                  <div class="folio-info">
                    <p><%=link_to truncate(task.summary, length: 290, omission: '... (continued)'), task, class:"fancybox" %></p>
                  </div>
                </div>
            </article>
            <% end %>
          <% end %>
          </div>
        </div>
      </div>
    </div>

      <div class="row pad-top15">
        <div class="col-md-offset-3 col-md-6">
          <div class="section-header">
            <%= will_paginate @tasks %>
          </div>
        </div>
      </div>
  </div>
</div>