<div class="container" id="padded_container">
<div class="row">
<%= form_for @filterrific, :html => {class: "form-horizontal"} do |f| %>
  <div class="form-group">
    Search
    <%= f.text_field(
      :search_query,
      :class => 'filterrific-periodically-observed'
    ) %>
  </div>
  <div class="form-group">
    Category
    <%= f.select(
      :with_category_ids,
      Category.options_for_select,
      { :include_blank => '- Any -' }
    ) %>
  </div>
  <div class="form-group">
    Due Date
    <%= f.date_field(:with_due_date) %>
  </div>
  <div class="form-group">
    Sorted by
    <%= f.select(:sorted_by, Task.options_for_sorted_by) %>
  </div>
  <div class="form-group">
    Paid
    <%= f.select(:with_paid, Task.options_for_paid,{ :include_blank => '- Any -' }) %>
  </div>
</div>
<div class="row">
  <div>
    <%= link_to(
      'Reset filters',
      reset_filterrific_tasks_path,
    ) %>
  </div>
  <%= render_filterrific_spinner %>
<% end %>
</div>

<%= render(
  :partial => 'tasks/list',
  :locals => { :tasks => @tasks }
) %>
</div>
