<div class="container" id="padded_container">

  <%= form_for @filterrific, html: {class: "well form-inline"} do |f| %>

  <div class="row">
    <div class="form-group col-md-4 col-sm-4">
      <div class="small">
        Category
      </div>
      <%= f.select( :with_category_ids, Category.options_for_select, { include_blank: '- Any -' }, class: "form-control" )%>
    </div>
      <div class="form-group col-md-4 col-sm-4">
        <div class="small">
          Sorted by
        </div>
        <%= f.select(:sorted_by, Task.options_for_sorted_by, { }, class: "form-control")%>
      </div>
      <div class="form-group col-md-4 col-sm-4">
        <div class="small">
          Paid
        </div>
        <%= f.select(:with_paid, Task.options_for_paid, { :include_blank => '- Any -' }, class: "form-control")%>
      </div>
  </div>

  <div class="row padded">
    <div class="form-group col-md-4 col-sm-4 align-center">
      <%= f.text_field( :search_query, class: 'filterrific-periodically-observed form-control', placeholder: "Search" )%>
    </div>
    <div class="form-group col-md-4 col-sm-4 align-center">
      <%= f.text_field(:with_due_date, placeholder: "Due date after", class: "form-control js-datepicker") %>
    </div>
    <div class="form-group col-md-4 col-sm-4 align-center">
      <%= link_to 'Reset filters', reset_filterrific_tasks_path, class: "btn btn-info btn-theme btn-block"%>
    </div>
    <%= render_filterrific_spinner %>
  </div>
  <% end %>

  <%= render( :partial => 'tasks/list', :locals => { :tasks => @tasks } )%>

</div>
<%= javascript_include_tag "datepicker" %>
