<div class = "about">
<div class="container align-center" id="padded_container">
  <div class="message_box">
    <h3>Offers for: <%= @task.name %></h3>

    <% if @offers.empty? == false %>
      <table class="centered_box">
        <% @offers.each do |user| %>
          <tr>
            <td class="pad-left5 pad-right5">
              <%= image_tag avatar(user), class: "tiny img-circle img-responsive centered_box" %>
                <table class="centered align-center">
                  <tr>
                    <td><%= rating_for user,  dimension = nil, options = {readonly: true} %></td>
                    <td><span class="small muted">(<%= user.rates.count %>)</span></td>
                  </tr>
              </table>
              <%= link_to user.name, user_profile_path(user) %>
            </td>
            <td class="pad-left5 pad-right5"><%= button_to "Message", new_message_path(user), method: :get, class: "btn btn-theme pull-left"%></td>
            <td class="pad-left5 pad-right5"><%= button_to "Accept", accept_path(task_id: @task.id, user_id: user), class: "btn btn-theme pull-left"%></td>
          </tr>
        <% end %>
      </table>
    <% else %>
      No pending offers for this gig
    <% end %>
  </div>
</div>
</div>