<div class = "about">
<div class="container" id="padded_container">
  <% if @task.status == "pending" %>
    <h3 class="align-center">
      <table class="centered_box">
        <tr>
          <td>Ready to post?</td>
          <td><%= button_to "Post", post_path(@task), method: :patch, class: "btn btn-theme"%></td>
        </tr>
      </table>
    </h3>
  <% end %>

  <div class="row">
    <div class="col-sm-9"><!--left col-->
      <div class="message_box align-center">
        <div class="account_heading align-center"><h1><%= @task.name %></h1></div>
        <p class="tiny_font"><em>Due Date:</em> <strong> <%= display_date_only(@task.due_date) %></strong></p>
        <% if @task.paid %>
          <p class="tiny_font"><em>Pay per gig:</em> <strong> <%= number_to_currency(@task.pay)%></strong> </p>
        <% else %>
          <p class="tiny_font"><em>Unpaid</em></p>
        <% end %>
        <p class="align-center"><%= @task.summary %></p>
        <% if current_user && current_user.id == @task.owner_id %>
          <% if @task.status == "available" or @task.status == "pending" %>
            <table class="centered_box">
              <tr>
                <td><%= button_to "Edit", edit_task_path(@task), method: :get, class: "btn btn-theme"%></td>
                <td><%= button_to "Delete", @task, method: :delete, data: {confirm: 'Are you sure?'}, class: "btn btn-cta" %></td>
              </tr>
            </table>
            <% end %>
        <% end %>
        <% unless current_user && current_user.id ==  @task.owner_id%>
          <% if @task.status == "available" %>
            <%= button_to "Send Request", user_tasks_path(task_id: @task.id), class: "btn btn-theme " %>
          <% end %>
        <% end %>
      </div> <!-- message box -->
    </div><!--left col-->

    <div class="col-sm-3">
      <div class="message_box">
        <div class="centered pad-bot10 ">
          <%= image_tag avatar(@task.owner), class: "img-circle img-responsive account_img" %>
          <p class="tiny_font"><em>Added by: </em><br> <strong> <%= @task.owner.name %></strong></p>
          <% if current_user && current_user.id != @task.owner_id %>
            <%= link_to "Message", new_message_path(@task.owner, subject: @task.name), class: "btn btn-theme" %>
          <% end %>
        </div>
      </div>
    </div> <!-- end col-sm-3 -->
  </div> <!-- end row -->
</div> <!-- end container -->
</div>


