<h2><%= @task.owner.name %></h2>

<%= @task.inspect %>

<% if current_user && current_user.id == @task.owner_id %>
  <%= button_to "Edit", edit_task_path(@task), method: :get, class: "btn btn-theme pull-left"%> <br>
  <%= button_to "Delete", @task, method: :delete, data: {confirm: 'Are you sure?'}, class: "btn btn-theme pull-left" %>
  <%= button_to "Post", post_path(@task), method: :patch, class: "btn btn-theme pull-left"%> <br>
<% else %>
  Added by <%= @task.owner.name %></br>
  <!-- button sends owner inquiry -->
  <%= button_to "Message", new_message_path(@task.owner), method: :get, placeholder: @task.name, class: "btn btn-theme pull-left" %><br>
  <!-- below button sends owner offer to do gig, send to which page?? -->
  <%= button_to "Offer", check_badger_path(task_id: @task.id), controller: :badger, method: :put, class: "btn btn-theme pull-left" %>
<% end %>
