<div class="" id="loginModal">
  <div class="modal-body">
    <div class="well">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#login" data-toggle="tab">Login</a></li>
        <li><a href="#create" data-toggle="tab">Create Account</a></li>
      </ul>
      <div id="myTabContent" class="tab-content">
        <div class="tab-pane active in" id="login">
         <%= form_tag login_path do %>
           <div class="field">
             <%= label_tag :email %><br />
             <%= text_field_tag :email, params[:email] %>
           </div>
           <div class="field">
             <%= label_tag :password %><br />
             <%= password_field_tag :password %>
           </div>
           <div class="control group">
             <div class="controls">
               <div class="button">
                 <div class="button"><%= submit_tag "Log In", class: "btn btn-theme pull-left" %></div>
               </div>
             </div>
           </div>
         <% end %>
        </div>
        <div class="tab-pane fade" id="create">
         <%= form_for @user do |f| %>
           <% if @user.errors.any? %>
             <div class="error_messages">
               <h2>Form is invalid</h2>
               <ul>
                 <% @user.errors.full_messages.each do |message| %>
                   <li><%= message %></li>
                 <% end %>
               </ul>
             </div>
           <% end %>

            <div class="field">
             <%= f.label :name, "Name:" %><br />
             <%= f.text_field :name %>
           </div>
           <div class="field">
             <%= f.label :email, "Email:" %><br />
             <%= f.text_field :email %>
           </div>
           <div class="field">
             <%= f.label :city, "City:" %><br />
             <%= f.text_field :city %>
           </div>
           <div class="field">
             <%= f.label :zipcode, "Zipcode:" %><br />
             <%= f.text_field :zipcode %>
           </div>
           <div class="field">
             <%= f.label :bio, "Tell us about yourself:" %><br />
             <%= f.text_area :bio %>
           </div>
           <div class="field">
             <%= f.label :password, "Password:"%><br />
             <%= f.password_field :password %>
           </div>
           <div class="field">
             <%= f.label :password_confirmation, "Confirm Password:" %><br />
             <%= f.password_field :password_confirmation %>
           </div>
           <div class="control group">
             <div class="controls">
               <div class="button">
                 <%= f.submit "Sign Up", class: "btn btn-theme pull-left" %>
               </div>
             </div>
           </div>
         <% end %>
        </div>
      </div>
    </div>
  </div>


