<div id="padded_container">
  <div class="container">
          <div class="row centered-form">
          <div class="col-xs-12 col-sm-8 col-md-4 col-sm-offset-2 col-md-offset-4">
            <div class="panel panel-default">
              <div class="panel-heading">
                <div class="align-center">
                  <h1 class="panel-title">Account Details</h1>
                </div>
              </div>
              <div class="panel-body">
             <%= form_for @user, html: { multipart: true } do |f| %>
               <% if @user.errors.any? %>
                 <div id="error_explanation">
                   <h2><%= pluralize(@user.errors.count, "error") %> prohibited this band from being saved:</h2>

                   <ul>
                   <% @user.errors.full_messages.each do |msg| %>
                     <li><%= msg %></li>
                   <% end %>
                   </ul>
                 </div>
               <% end %>
               <div class="row">
                 <div class="text_container">
                   <div class="form-group">
                    <%= f.label :name, class: "small" %>
                    <%= f.text_field :name, autofocus: true, class: "form-control input"  %>
                   </div>
                 </div>
               </div>

                <div class="row">
                  <div class="col-xs-6 col-sm-6 col-md-6">
                    <div class="form-group">
                     <%= f.label :city, class: "small" %>
                     <%= f.text_field :city, autofocus: true, placeholder: "City", class: "form-control input" %>
                    </div>
                  </div>
                  <div class="col-xs-6 col-sm-6 col-md-6">
                    <div class="form-group">
                      <%= f.label :zipcode, class: "small" %>
                      <%= f.text_field :zipcode, autofocus: true, placeholder: "Zipcode", class: "form-control input" %>
                    </div>
                  </div>
                </div>

                <div class="row">
                  <div class="text_container">
                    <div class="form-group">
                     <%= f.label :bio, class: "small" %>
                     <%= f.text_area :bio, autofocus: true, placeholder: "Tell us about yourself", class: "form-control input"  %>
                    </div>
                  </div>
                </div>

             <div class="row">
               <div class="text_container">
                 <div class="form-group">
                 <%= f.label :image, "Profile Image", class: "small" %>
                 <%= f.file_field :image, autofocus: true, placeholder: "Tell us about yourself", class: "form-control input"  %>

                 </div>
               </div>
             </div>
              </div>
              <div class="text_container">
                  <%= f.submit "Save", class: "btn btn-info btn-theme btn-block"%>
              </div>
               <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>

