<div id="ww">
  <div class="container align-center">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <%= image_tag avatar(@user), class: "img-circle img-responsive profile-img" %>
        <table class="centered">
          <tr>
            <td><%= rating_for @user,  dimension = nil, options = {readonly: true} %></td>
            <td><span class="small muted">(<%= @user.rates.count %>)</span></td>
          </tr>
        </table>
        <h1>Hi, I am <%= @user.name %>!</h1>
        <p><%= @user.bio %></p>
        <div class="row">
          <% if current_user != @user %>
            <%= hidden_field_tag :user_id, @user.id %>
            <%= button_to "Message", new_message_path(@user), method: :get, class: "btn btn-theme "%> <br>
          <% end %>
        </div>

      </div><!-- /col-lg-8 -->
    </div><!-- /row -->
    <hr>
     <h1 class="align-center pad-bot20">Badges</h1>
     <div class="row">
       <% @user.badges.each do |badge| %>
         <div class="col-lg-2 col-sm-3 col-xs-4">
          <%= image_tag badge.custom_fields[:image], class: "thumbnail img-responsive" %>
        </div>
      <% end %>
    </div>
  </div> <!-- /container -->
</div><!-- /ww -->
<hr>


