
<br>
<br>
<%= @user.name %>
  <% if current_user != @user %>
  <%= hidden_field_tag :user_id, @user.id %>
     <%= button_to "Message", new_message_path(@user), method: :get, class: "btn btn-theme pull-left"%> <br>
  <% end %>
<div class="center_align">
<!-- use this method for rating only: -->
<%= rating_for @user,  dimension = nil, options = {readonly: true} %>

</div>
<p>
  <%= image_tag @user.image_url(:preview).to_s %>
</p>

