<!DOCTYPE html>
<html>
  <head>
    <title>GigBadger</title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= stylesheet_link_tag    "bootstrap.css" %>
    <%= stylesheet_link_tag    "overwrites.css" %>
    <%= stylesheet_link_tag    "http://fonts.googleapis.com/css?family=Montserrat:400,700" %>
    <%= stylesheet_link_tag    "http://fonts.googleapis.com/css?family=Ubuntu:300,400,700" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
  <div class="navbar navbar-static-top" role="navigation" style="padding-bottom: 0; margin-bottom: 0;">
     <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <!-- <span class="fa fa-bars color-white"></span> -->
        </button>
        <a class="navbar-brand" href="/">GigBadger</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right" data-0="margin-top:20px;" data-300="margin-top:5px;">
          <li><a href="/#section-about">Badgers</a></li>
          <li><a href="/#section-works">Gigs</a></li>
          <li><a href="/tasks/new">New Gig</a></li>
            <% if current_user && user_signed_in? %>
              <li><%= link_to "#{current_user.name}'s account", user_path(current_user) %> </li>
              <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
            <% else %>
              <li><%= link_to "Sign In", new_user_session_path %></li>
              <li><%= link_to "Sign Up", new_user_registration_path %></li>
            <% end %>
        </ul>
      </div><!--/.navbar-collapse -->
    </div>
  </div>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
