 <!DOCTYPE html>
<html>
  <head>
    <title>GigBadger</title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= stylesheet_link_tag    "http://fonts.googleapis.com/css?family=Montserrat:400,700" %>
    <%= stylesheet_link_tag    "http://fonts.googleapis.com/css?family=Ubuntu:300,400,700" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
  <div class="navbar navbar-static-top" role="navigation" style="padding-bottom: 0; margin-bottom: 0;">
     <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="glyphicon glyphicon-align-justify color-white"></span>
        </button>
        <a class="navbar-brand" href="/"><%= image_tag "/honey-badger1w.png", class: "tiny_logo" %>GigBadger</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right" data-0="margin-top:20px;" data-300="margin-top:5px;">
          <li><a href="/users">Badgers</a></li>
          <li><a href="/tasks">Gigs</a></li>
          <li><a href="/tasks/new">New Gig</a></li>
            <% if current_user && user_signed_in? %>
              <li><%= link_to "My account", user_path(current_user) %> </li>
              <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
            <% else %>
              <li><%= link_to "Sign In", new_user_session_path %></li>
              <li><%= link_to "Sign Up", new_user_registration_path %></li>
            <% end %>
        </ul>
      </div><!--/.navbar-collapse -->
    </div>
  </div>
  <div id="note">
    <% if notice %>
        <p class="padded"><%= notice %> <a id="close">[close]</a></p>
    <% elsif alert %>
        <p class="padded"><%= alert %> <a id="close">[close]</a></p>
    <% end %>
  </div>
    <%= yield %>
  </body>

  <section id="footer" class=" footer">
    <div class="row small pad-top20">
      <div class="container footer-align">

            <a href="/about"> About </a>|
            <a href="https://github.com/gyermich/gigbadger" target='_blank'> Github </a>|
            <a href="https://twitter.com/GigBadger" target='_blank'> Twitter </a>|

            <p class="muted">© 2014 GigBadger.com</p>
          </div>
        </div>

  </section>
</html>
